html {
	box-sizing: border-box;
}

body {
	font-family: 'Hind Siliguri', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
    text-align: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

p {
    font-size: 1em;
    margin: 0;
    padding: 1em 1em 1em 1em;
}

h2,
h3 {
	margin-top: 0;
    text-align: center;
    color: #093a58;
    padding: 1em;
    
}

a {
	text-decoration: none;
    color: #093a58;

}



/*---NAVIGATION STYLES---*/

.name {
    font-size: 2em;
    margin: 0px 0px 0px 0px;
    padding: 1em 1em 0 1em;
}

.main-nav {
    font-size: 1em;
    font-weight: bold;
    display: inline;
}

.main-nav li {
    display: block;
    margin: 5px;
    padding: .5em .75em .5em .75em;
    background-color: white;
    margin-right: 5px;
    text-transform: uppercase;
}

/*--HEADER--*/

.intro img {
    margin: 0 auto;
    width: 40%;
    height: 70%;
    padding: 2.5em;
}


/*---PORTFOLIO---*/

.portfolio-header {
    text-transform: uppercase;
    padding-top: 2em;
}

.project-titles {
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 0;
}

.card p {
    font-size: 1.12em;
    margin-bottom: 5px;
}


/*--CONTAINERS--*/

.container {
    padding-right: 1em;
    padding-left: 1em;
}

header {
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: rgb(245, 244, 244);
	margin: 0px 0px 0px 0px;
}

.row-container {
    width: 100%;

}

.card  {
    width: 100%;
    margin: 0px;
}
.row-container .card img {
    margin: 0px;
    width: 90%;
}

/*--CONTACT--*/

.contact-info {
    margin: 1.4375em 0 3.125em;
    padding: 1em;
}

.contact-info .contact {
    border-top: 1px solid lightgrey;
    padding-top: 2.3125em;
}

.contact-info .contact {
    font-size: .94em;
    font-weight: bold;
    text-transform: uppercase;
}

.text-me {
    margin: 0 2px 0 2px;
}

/*--FOOTER--*/

.footer-nav {
    border-top: 1px solid lightgrey;
    padding: 1.5625em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-nav h3 {
    display: inline;
    font-size: 1em;
    padding-right: 6.7em;
}

.footer-ul {
    display: none;
}

.top {
    list-style-type: none;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: bold;
    margin-top: 1.1875em;
}

/*--MEDIA QUERIES--*/

@media (min-width: 768px) {
    .name {
        margin: 30px 0 10px;
    }

    .main-nav {
        display: inline-flex;
        padding: 0px;
        margin-bottom: 0px;
    }

    .main-nav li {
        background-color: inherit;
        padding-left: 20px;
    }

    .intro {
        display: flex;
        flex-direction: row-reverse;
        margin: 3.125em 1.5625em; 
    }

    .intro img {
        width: 50%;
        padding: 0px;
    }

    .intro p {
        font-size: 1.3em;
        margin: 0;
        padding-right: 1em;
        text-align: left;
        width: 50%;
    }

    .row-container {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        width: 50%;
    }

    .card p {
        margin: 1em 3em;
        padding: 0;
    }
    .text-me {
        margin: 2.1875em 6.25em;
    }

    .footer-nav {
        padding: 1em 0 3em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 25px;
    }

    .footer-ul {
        display: block;
        list-style-type: none;
    }

    .footer-ul li {
        display: inline;
        padding-left: 1.25em;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
    }

    .top {
        display: none;
    }
}


@media (min-width: 1024px) {

    body {
        max-width: 1040px;
        margin: 0 auto;
    }

    .container {
        display: flex;
        flex-direction: row;

    }

    ul.main-nav {

        text-align: center;
        padding-top: 50px;
    }

    .name {

        display: flex;
        flex-grow: 2;
        padding-bottom: 1em;
    }
   

    .intro {
        margin: 3.125em 1.25em;
    }

    .intro p {
        font-size: 1.7em;
        text-align: left;
    }
   
   .row-container .card {
        width: 33%;
    }

    .text-me {
        margin: 2.1875em 13em;
    }

    .footer-nav {
        padding: 1em;
        margin: 10px;
    }

}